<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
        <title>Tasty Treats</title>
    </head>
    <body>
        <main class="main-contianer">
            <header class="title-section">
                <h1 class="title">Welcome to Tasty Treats</h1>
                <hr class="hr">
                <h2 class="sub-title">Your local bakery!</h2>
                <p class="para">Thank you <%= data.firstName %> we will be in touch soon!</p>
            </header>
        </main>
    </body>
</html>
